@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<style>
    .auth-page {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        background-color: #b21d12; /* Background color */
        padding: 0 50px; /* Adjust padding for spacing */
        position: relative;
    }

    .auth-full-page-content, .cv-full-page-content {
        background-color: white; /* White background */
        border-radius: 10px;
        padding: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        width: 100%;
        min-height: 80vh !important;
    }

    .form-floating .form-control {
        background: rgba(255, 255, 255, 0.8);
    }

    .btn-primary {
        background-color: #b21d12;
        border-color: #b21d12;
    }

        .btn-primary:hover {
            background-color: #9e190f;
            border-color: #9e190f;
        }

    .auth-logo img, .cv-profile-pic img {
        height: 75px;
    }

    .auth-content h4, .cv-content h4 {
        color: #b21d12;
    }

    .auth-content p, .cv-content p {
        color: #6c757d;
    }

    .cv-profile-pic {
        text-align: center;
        margin-bottom: 20px;
    }

        .cv-profile-pic img {
            border-radius: 50%;
            height: 100px;
            width: 100px;
        }

    a {
        color: #b21d12;
    }

    .center-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

        .center-logo img {
            width: 170px;
        }

</style>

<div class="auth-page">
    <div class="auth-full-page-content d-flex flex-column p-sm-5 p-4">
        <div class="text-center mb-4">
            <a href="/" class="d-block auth-logo">
                <img src="~/assets/images/logo.png" alt="">
                <span class="logo-txt"></span>
            </a>
        </div>
        <div class="auth-content my-auto">
            <div class="text-center">
                <div class="p-2 mt-4">
                    <br />
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @TempData["ErrorMessage"]
                        </div>
                    }
                    <form method="post" action="@Url.Action("Login", "Auth")">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="Username">
                            <label for="floatingInput">Kullanıcı Adı veya E-Posta</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="Password">
                            <label for="floatingPassword">Şifre</label>
                        </div>
                        <div class="mt-3 d-grid">
                            <button class="btn btn-primary btn-block" type="submit">Giriş Yap</button>
                        </div>
                    </form>
                    <div class="mt-3 d-grid">
                        <form id="windowsLoginForm" method="post" action="@Url.Action("WindowsLogin", "Auth")">
                            <button class="btn btn-secondary btn-block" type="submit">Windows ile Giriş Yap</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4 mt-md-5 text-center">
            <p class="mb-0">
                Copyright ©
                <script>document.write(new Date().getFullYear())</script> Tüm hakları saklıdır.<br /> <a href="https://yilmazkanat.com" target="_blank">Yılmaz KANAT</a> tarafından yapılmıştır.
            </p>
        </div>
    </div>
    <div class="center-logo">
        <img src="~/assets/images/CSB_beyaz_logo.png" alt="Center Logo">
    </div>
    <div class="cv-full-page-content d-flex flex-column p-sm-6 p-3">
        <div class="cv-content my-auto">
            <div class="text-center">
                <div class="cv-profile-pic">
                    <img src="~/assets/images/users/user.png" alt="Yılmaz KANAT">
                </div>
                <h2>Yılmaz KANAT</h2>

                <h6>Website :<a href="https://yilmazkanat.com" target="_blank"> Yilmazkanat.com</a></h6>
                <h6>Linkedin :<a href="https://www.linkedin.com/in/yilmaz-kanat/" target="_blank"> Yılmaz KANAT</a></h6>
                <h6>E-Posta Adresim :<a href="mailto:yilmazkanatceng@gmail.com"> yilmazkanatceng@gmail.com</a></h6>
                <p>T.C. Çevre, Şehircilik ve İklim Değişikliği Bakanlığı adına staj dönemimde gerçekleştirdiğim bu proje, çalışanlara daha kullanışlı bir arayüz sunarak işlerini kolaylaştırmayı amaçlamaktadır. Proje sürecinde, kullanıcı deneyimini ön planda tutarak, iş verimliliğini artıran çözümler geliştirdim.</p>

            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/assets/js/pages/pass-addon.init.js"></script>
}
