@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<style>
    .auth-page {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #b21d12; /* Arka plan rengi */
    }

    .auth-full-page-content {
        background-color: white; /* Login kısmı beyaz arka plan */
        border-radius: 10px;
        padding: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        width: 100%;
        min-height: 80vh !important;
    }

    .form-floating .form-control {
        background: rgba(255, 255, 255, 0.8);
    }

    .btn-primary {
        background-color: #b21d12;
        border-color: #b21d12;
    }

        .btn-primary:hover {
            background-color: #9e190f;
            border-color: #9e190f;
        }

    .auth-logo img {
        height: 50px;
    }

    .auth-content h4 {
        color: #b21d12;
    }

    .auth-content p {
        color: #6c757d;
    }
</style>
<head>
    <meta charset="UTF-8">
    
</head>
<div class="auth-page">
    <div class="auth-full-page-content d-flex flex-column p-sm-5 p-4">
        <div class="text-center mb-4">
            <a href="/" class="d-block auth-logo">
                <img src="~/assets/images/logo.png" alt=""> <span class="logo-txt"></span>
            </a>
        </div>
        <div class="auth-content my-auto">
            <div class="text-center">
                <div class="avatar-lg mx-auto">
                    <div class="avatar-title rounded-circle bg-light">
                        <i class="bx bx-user-circle h2 mb-0 text-danger"></i>
                    </div>
                </div>
                <div class="p-2 mt-4">
                    <h4>Giriş Yap</h4>
                    <br />

                    <form method="post" action="@Url.Action("Login", "Auth")">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="Username">
                            <label for="floatingInput">Kullanıcı Adı</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="Password">
                            <label for="floatingPassword">Şifre</label>
                        </div>
                        <div class="mt-3 d-grid">
                            <button class="btn btn-primary btn-block" type="submit">Giriş Yap</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="mt-4 mt-md-5 text-center">
            <p class="mb-0">
                ©
                <script>document.write(new Date().getFullYear())</script> Yılmaz. Crafted with <i class="mdi mdi-heart text-danger"></i> by Yılmaz KANAT
            </p>
        </div>
    </div>
</div>

@section scripts {
    <!-- password addon init -->
    <script src="~/assets/js/pages/pass-addon.init.js"></script>

    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <script>
            alert('@ViewBag.ErrorMessage');
        </script>
    }
}
