<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-sm-12">
                <div class="text-sm-end d-none d-sm-block">
                    
                 Copyright ©
                        <script>document.write(new Date().getFullYear())</script> Tüm hakları saklıdır. <a href="https://yilmazkanat.com" target="_blank">Yılmaz KANAT</a> tarafından yapılmıştır.
                    
                </div>
            </div>
        </div>
    </div>
</footer>
