@{
    var userRole = ViewBag.UserRole as int?;
}

<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" data-key="t-menu">Menü</li>
                <li>
                    <a href="/">
                        <i data-feather="home"></i>
                        <span data-key="">Rehber</span>
                    </a>
                </li>
                <li>
                    <a href="/auth/profile">
                        <i data-feather="user"></i>
                        <span>Profilim</span>
                    </a>
                </li>

                <!-- Admin Menü -->
                @if (userRole == 1)
                {
                    <li class="menu-title mt-2" data-key="t-components">Admin Menü</li>
                    <li>
                        <a href="/Admin">
                            <i data-feather="settings"></i>
                            <span data-key="t-dashboard">Rehberi Düzenle</span>
                        </a>
                    </li>
                }
                <!-- Admin Menü Sonu -->

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->
@section scripts {
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
        // Feather ikonları başlat
        feather.replace();
    </script>
}
