<meta charset="utf-8" />
<title>@ViewBag.Title | Izm Rehber </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Izm Rehber Uygulaması" name="description" />
<meta content="Yılmaz KANAT" name="author" />
<!-- App favicon -->
<link rel="shortcut icon" href="~/assets/images/favicon.ico">
